*.log
dbhomewdb/
backupwdb/
*.conf
!*.conf.tmpl
gamed/config/
gdeliveryd/filters/
gamedbd/gamedata/
gamedbd/clsconfig/
gacd/*.dat
gacd/*.data
uniquenamed/uname/
gfactiond/filters/
*.so
*.so.*
glinkd/glinkd
gdeliveryd/gdeliveryd
gamed/gs
gamedbd/gamedbd
gamedbd/dbtool
authd/authd
authd/authd.class
authd/lib/
authd/org/
authd/protocol/
logservice/logservice
uniquenamed/uniquenamed
gfactiond/gfactiond
gacd/gacd
